.services {
  padding: 167px 0px 0px 0px;

  .container {
    max-width: 1440px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .services_header {
      margin-bottom: 60px;
    h3 {
      font-style: normal;
      font-weight: 300;
      font-size: 50px;
      line-height: 69px;
      text-transform: uppercase;
      color: rgb(255, 255, 255);
    }
  }

  .services_list {
   
      max-width: 682px;
      width: 100%;
    .services_item {
      background: #ffd700;
      padding: 12px 16px;
      margin-bottom: 5px;
      .services__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
            color: #1b1b1b;
            font-size: 16px;
            text-transform: uppercase;
        }
      }

      .services__body {
        overflow: hidden;
        max-height: 0;
      }

      .services__body.show {
        height: auto;
        max-height: 9999px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: black;
        margin-top: 20px;
        div {
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            width: 100%;
            &::after {
                content: "";
                display: inline-block;
                border: 1px solid grey;
                width: 100%;
            }

            &:last-child::after {
                border: none;
            }
          
            p {
                font-style: normal;
                font-weight: 300;
                font-size: 20px;
                line-height: 38px;
                text-transform: uppercase;
                color: rgb(255, 255, 255);
            }
        }
      }
    }
  }
}
