.application {
    background: #222121;
    padding: 47px 0px;

    .container {
        max-width: 1440px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    .application_btn {
        button {
            background-color: red;
        }
        .active {
            background-color: black;
            color: white;
        }
    }
}