header {
  background-color: #2a2a2a;

  .container {
    max-width: 1440px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header_log_link {
      display: flex;
      align-items: center;
      gap: 10px;
      img {
        width: 50px;
        height: 51px;
      }

      p {
        color: #fff;
        font-size: 25px;
        font-weight: 400;
      }
    }

    ul {
      display: flex;
      align-items: center;
      li {
        display: flex;
        align-items: center;
        gap: 20px;
        border: 1px solid transparent;
        &::after {
          content: "";
          display: inline-block;
          border: 1px solid #737373;
          height: 60px;
        }

        a {
          margin-left: 20px;
          text-transform: uppercase;
          color: #fff;
          font-size: 16px;
          &:hover {
            color: #fff;
            text-shadow: 0 0 8px #fff, 0 0 15px;
            border-radius: 5px;
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }

    .header_right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      max-width: 340px;
      width: 100%;
      gap: 30px;
      .header_lan_wrapper1 {
          position: relative;
          .header_lan_wrapper {
            display: flex;
            align-items: center;
            border: 1px solid grey;
            gap: 10px;
            padding: 5px 10px;
            color: #fff;
            cursor: pointer;
          }

          .langs {
              position: absolute;
              background-color: #fff;
              z-index: 9999;
              top: 30px;
              left: 0px;
              padding: 10px 24px;
              display: flex;
              flex-direction: column;
              gap: 10px;
              div {
                  cursor: pointer;
              }
          }
      }

    }

    .header_btn {
      display: none;
    }
  }
}

@media only screen and (max-width: 768px) {
  header {
    .header_container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      ul {
        display: none;
      }

      .header_right {
        display: flex;
        align-items: center;
        gap: 20px;

        .header_lan_wrapper1 {
            .header_lan_wrapper {
             display: none;
            }
  
            .langs {
                position: absolute;
                background-color: #fff;
                z-index: 9999;
                top: 30px;
                left: 0px;
                padding: 5px 24px;
                div {
                    cursor: pointer;
                }
            }
        }
      }

      .header_btn {
        display: block;
        border: none;
        background: none;
        cursor: pointer;
        img {
          width: 36px;
          height: 24px;
        }
      }
    }
  }
}

@media only screen and (max-width: 427px) {
  header {
    .header_container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .header_log_link {
        p {
          display: none;
        }
      }

      div {
        display: flex;
        align-items: center;
        gap: 20px;

        select {
          display: none;
        }
      }

      .header_btn {
        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}

.modal_body {
  background-color: #000;
  padding: 10px;

  div {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    button {
      border: none;
      background: none;
      cursor: pointer;
      color: #fff;

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }

  ul {
    margin-bottom: 59px;
    li {
      margin: 10px 0px;
      &::after {
        content: "";
        display: inline-block;
        width: 100%;
        border: 1px solid grey;
      }
      a {
        text-transform: uppercase;
        color: #fff;
        font-size: 16px;
      }
    }
  }

  .header_modal_contact {
    padding: 18px 31px 19px 41px;
    background-color: #ffd700;
    width: 100%;
    display: inline-block;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
  }
}
